@model City_Vibe.ViewModels.ClubController.DeleteClubViewModel

@{
    var category = ViewBag.Categories as SelectList;
}

<h1>Are you sure you want to delete this club?</h1>

<div class="col-md-8">
    <img class="img-fluid" src="@Model.Image" alt="">
</div>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
         
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.City)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address.Region)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.Region)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.Street)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd class="col-sm-10">
                @{
                    var categoryName = Model.Category?.Name ?? string.Empty;
                }
                @Html.DisplayFor(model => categoryName)

            </dd>

        </dl>
    </div>
</form>

<form asp-action="Delete" asp-controller="Club" method="post">
    <button type="submit" class="btn btn-danger float-right mt-10">Confirm</button>
</form>

<form asp-action="DetailClub" asp-controller="Club" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-success float-right mt-20 ">Back</button>
</form>





