@model City_Vibe.ViewModels.ClubController.DetailClubViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (@Model.SaveClubs.Count != 0)
{  
      <a type="btn btn-success" asp-controller="Club" asp-action="AddInInterested" asp-route-eventlist="@Model.SaveClubId" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">
        Remove from interesting
    </a>
}
else
{
    <a type="btn btn-success" asp-controller="Club" asp-action="AddInInterested" asp-route-eventlist="@Model.SaveClubId" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">
        Add to Interesting
    </a>
  
}

<a type="btn btn-success" asp-controller="Event" asp-action="CreateEvent" asp-route-clubId="@Model.Id" class="btn btn-sm btn-outline-secondary">
    Add Event
</a>






<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Page Heading
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Location</h3>
            <ul>
                <li>@Model.Address.City</li>
                <li>@Model.Address.Region</li>
                <li>@Model.Category</li>
            </ul>

              <tr>
            <td>
                @Html.DisplayFor(Modelitem => Model.CountLikes) likes </br>
                <a type="btn btn-success" asp-controller="Club" asp-action="AddLikeToTheClub" asp-route-clubId="@Model.Id" class="btn btn-sm btn-outline-secondary text-danger">
                    Reputation
                </a>
            </td>
        </tr>

        </div>

    
    </div>







    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>


    <!-- /.row -->
    @foreach (var item in Model.Events)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@item.Name</p>
                    <p class="card-text">@item.Desciption</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="btn btn-success" asp-controller="Event" asp-action="DetailEvent" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">View</a>
                            @* @if (SignInManager.IsSignedIn(User))
                        {*@
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                            @* }*@
                        </div>
                        <small class="text-muted">@item.Category</small>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<!-- /.container -->