
@using Microsoft.AspNetCore.Identity
@model City_Vibe.ViewModels.EventController.EventDetailViewModel

@{
    ViewData["Title"] = "DetailEvent";

}

@inject SignInManager<AppUser> SignInManager



@if (@Model.SaveEvents.Count != 0)
{  
      <a type="btn btn-success" asp-controller="Event" asp-action="AddInterestingEvent" asp-route-saveEventModel="@Model.SaveEventId" asp-route-eventId="@Model.Id" class="btn btn-sm btn-outline-secondary">
        Remove from interesting
    </a>
}
else
{
    <a type="btn btn-success" asp-controller="Event" asp-action="AddInterestingEvent" asp-route-saveEventModel="@Model.SaveEventId" asp-route-eventId="@Model.Id" class="btn btn-sm btn-outline-secondary">
        Add to Interesting
    </a>
}

 <a type="btn btn-success" asp-controller="Appointment" asp-action="AddUserAppointment"  asp-route-eventId="@Model.Id" class="btn btn-sm btn-outline-secondary">
       Join the event
 </a>

   @if (SignInManager.IsSignedIn(User))
    {
    <a type="btn btn-success" asp-controller="Appointment" asp-action="AdmissionRequests"  asp-route-eventId="@Model.Id" class="btn btn-sm btn-outline-secondary">
      Admin - AdmissionRequests
     </a>
   }

  
    <a type="btn btn-success" asp-controller="Appointment" asp-action="UserApplications" class="btn btn-sm btn-outline-secondary">
     My Statements
    </a>
   
                       
 <a type="btn btn-success"  method="post" asp-controller="Appointment" asp-action="ViewParticipants"  asp-route-eventId="@Model.Id" class="btn btn-sm btn-outline-secondary">
      User Applications  
 </a>


     

      <h1>  </h1>
      

@if (Model.Statement == true)
{
       <p class="text-green"> Your application has been accepted </p>


       <p> Message :</p>
        @foreach (var item in Model.ReplyAppointments)
        {
         <td>
                <span style="margin-right:15px;font-size:16px;color:blue">
                            @Html.DisplayFor(modelItem => item.Reason)
                        </span>
         </td>                               
        }
}
else
{
    <a>
       

          @if (@Model.CheckAppointment > 0)
           {  
                <td >                 
                   @Html.ActionLink( "You have sent an invitation to this event" , "UserApplications", "Appointment", new { id = Model.Id}, null)                                  
                </td>

         @*    <p class="text-green"> You have sent an invitation to this event </p>*@
             <p> Your application is being processed </p>
           }
    </a>
}


      <h1>  </h1>


<div>
    <h4>Wellcome</h4>
    <hr />

    <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>
    <dl 
      

        class="row">
         
  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desciption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
           <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>

    


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10 text-danger">
            @{
                var categoryName = Model.Category?.Name ?? string.Empty;
            }
            @Html.DisplayFor(model => categoryName)
        </dd>

        <h2 class="text-success text-center"> someone's post or some other things</h2>

         

  
     @if (User.Identity.IsAuthenticated)
        {


            @using (Html.BeginForm("PostComment", "Comment", FormMethod.Post))
            {
              
                <p>
                    <input type="text" name="CommentText" placeholder="Type new comment..."
                   style="width:700px; height:60px; font-size:20px; margin-top:10px" />
                </p>
                <p>
                    <input name="EventId" type="hidden" value="@Model.Id"
                   style="width:700px; height:60px; font-size:20px; margin-top:10px" />
                </p>
                <br />
                <input type="submit" value="Post Comment" class="btn btn-success "
               style="margin-top: 10px;margin-bottom: 10px " />
            }
        }
        else
        {
            <div>                 
                     <a class=""> To comment. Log in to the account  </a>                 
                     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Login">Click Here</a>             
            </div>
             
        }
       @* "You must @Html.ActionLink("register", "Account","Login" ,"Identity") to post comments" </p2>*@
  

    </dl>
    

 
    <table class="table text-center">


    <tbody>
        @foreach (var comment in Model.Comments)
        {
             <tr style="border:1px solid black;">
                 <td>
                                        <span style="margin-right:15px;font-size:16px;color:green">
                        @Html.DisplayFor(modelItem => comment.AppUser.NickName)
                                        </span>


                                        <span style="font-size:20px">
                        @Html.DisplayFor(modelItem => comment.Body)
                                        </span>
                                        <span style="margin-left:10px">
                        @Html.DisplayFor(modelItem => comment.DateTime)
                                        </span>

                    @foreach (var reply in comment.ReplyComment)
                    {
                                                                <br />
                                                                <span style="margin-right:15px;font-size:16px;color:blue">
                            @Html.DisplayFor(modelItem => reply.AppUser.NickName)
                                                                </span>
                                                                <span style="font-size:19px">
                            @reply.Text
                                                                </span>
                                                                <span style="margin-left:10px">
                            @reply.CreatedDate
                                                                </span>

                    }
                       
                    
                    <br />

                      
                      @if (User.Identity.IsAuthenticated)
                      {



                     @using (Html.BeginForm("PostReply", "Comment", FormMethod.Post))
                    {
                            <input type="text" name="ReplyText" placeholder="Type  reply..."
                            style="width:100%; height:60px; font-size:20px; margin-top:10px" />
                        <br />
                        <input type="hidden" name="IDComment" value="@comment.Id" />
                        <input type="submit" value="Post Reply" class="btn btn-success" style="margin-top :10px" />
                    }


                      }   
                  </td>


             </tr>
        }
    </tbody>
</table


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

