@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model City_Vibe.ViewModels.EventController.EventFilterViewModel

<h2>Search</h2>
<form method="get">
    <div>
        <label>User: </label>
        <input asp-for="Name" />

        <label>Event: </label>
        <select name="category" asp-items="Model.Category"></select>

        <input type="submit" value="Filter" />
    </div>
</form>
<h1 class="display-4 fw-normal"></h1>



@*<a type="button" class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Create">Create Event</a>*@

<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Actual event </h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Events)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Desciption</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  
                                 

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a>

                                            <form asp-controller="Event" asp-action="DetailEvent" method="post" asp-route-id="@item.Id">
                                                <input type="submit" value="View Profile" />
                                            </form>
                                        </a>

                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a>
                                                <form asp-controller="Event" asp-action="Edit" method="get" asp-route-id="@item.Id">
                                                    <input type="submit" value="Edit" />
                                                </form>
                                            </a>

                                            <a>
                                                <form asp-controller="Event" asp-action="Delete" method="get" asp-route-id="@item.Id">
                                                    <input type="submit" value="Delete" />
                                                </form>
                                            </a>
                                        }
                                        else
                                        {
                                            
                                        }
                                    }
                                </div>

                                <small class="text-muted">@item.Category.Name</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
