@model IEnumerable<City_Vibe.Domain.Models.Category>

@{
    ViewData["Title"] = "ListOfCategories";
}

<h1>ListOfCategories</h1>

<p>
    <a asp-action="AddCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditCategory", new {  IdEdit=item.Id })
                    <form asp-controller="Category" asp-action="DeleteCategory" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" />
                    </form>
                   
            </td>
        </tr>
}
    </tbody>
</table>
